<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangdg.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- bugly permission need -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />



    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinkCameraDemo"
        >

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Login"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DoctorDetails"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".KeyEnter"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme"  />

        <activity
            android:name=".NewPatient"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientDetails"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".PatientList"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientHistory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PdfView"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".ReportSelection"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ColposcopyReport"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".SwedeScore"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".ReidScore"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".MarkBiopsy"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".SexualAssault"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".CryoSurgery"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".HysteroscopyReport"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".LeepReport"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".ColposcopeReportPdf"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".SexualAssaultReportPdf"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".CryoSurgeryReportPdf"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".HysteroscopyReportPdf"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".LeepReportPdf"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".ReferPatient"
            android:theme="@style/AppTheme"  />

        <activity
            android:name=".LabelImage"
            android:theme="@style/AppTheme"  />

        <activity
            android:name=".ImageViewLayout"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".VideoViewLayout"
            android:theme="@style/AppTheme"  />

        <activity
            android:name=".RecordedVideo"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".CompareImage"
            android:theme="@style/AppTheme"  />
        <activity
            android:name=".PatientLogin"
            android:theme="@style/AppTheme"  />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>


    </application>

</manifest>